<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <title><%- title%></title> -->
  <title>
    <%= title %>
  </title>
  <!-- boostrap -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/css/bootstrap.min.css"
    integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- Font-awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- Libreria DataTables -->
  <link href="https://cdn.datatables.net/v/bs4/dt-2.0.8/datatables.min.css" rel="stylesheet">
</head>

<body>

  <!-- Header -->
  <%- include("partials/headeradmi.ejs")%>

    <div class="container ">
      <div class="row my-4">
        <div class="col-lg-12">
          <% if (message) { %>
            <div class="alert alert-dismissible fade show alert-<%= message.type %>" role="alert">
              <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
              <strong>
                <%= message.message %>
              </strong>
            </div>
            <% } %>
              <div class="table-respinsive ">
                <% if(products !="" ) { %>
                  <table class="table table-striped text-center">
                    <thead>
                      <tr class="table-dark ">
                        <th>ID</th>
                        <th>Image</th>
                        <th>Name product</th>
                        <th>CantAnt</th>
                        <th>CantEnt</th>
                        <th>CantFinal</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% products.forEach((row, index)=> { %>
                        <tr class="aling-middle">
                          <td>
                            <%= index %>
                          </td>
                          <td><img src=" <%=row.img%>" width="50" class="img-thumbnail"></td>
                          <td>
                            <%= row.name %>
                          </td>
                          <td class="">
                            <%= row.cantDayAnt %>
                          </td>
                          <td>
                            <%= row.cantDayEnt %>
                          </td>
                          <td>
                            <%= row.cantDayFinal %>
                          </td>
                          <td>
                            <!--Btn para editar  -->
                            <a href="/edit/<%= row._id %>" class="text-success"><i
                                class="fas fa-edit fa-lg mx-1"></i></a>
                            <!-- Btn para eliminar -->
                            <a href="/delete/<%= row._id %>" class="text-danger"><i
                                class="fas fa-trash fa-lg mx-1"></i></a>
                          </td>
                        </tr>
                        <% }) %>
                    </tbody>
                  </table>
                  <% } else { %>
                    <h1 class="text-center text-secondary mt-5">!No se encontraron productos en la base de datos¡</h1>
                    <% }%>

              </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <%- include("partials/footeradmi.ejs")%>


</body>

</html>